<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Países</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:fragment="header" style="background-color: #1496c1; color: white; font-family: Somar,sans-serif; position: absolute; width: 100%;
                height: 7%; top: 0%; left: 0%">
            <h1 style="position: absolute; left:46%; bottom: 8%">Países</h1> 
        </header>

        <ul th:fragment="menu" style="position: absolute;right: 0%; width:16.3%; top:0%; background-color: white; height:100%">
            <li style="font-family: Somar,sans-serif; position:absolute; top: 3%; color: black">Inicio</li>
            <hr style='position:absolute; top:6%; width:90%; left:2%'>
            <li style="font-family: Somar,sans-serif; position:absolute; top: 10%; color: black">Sobre nosotros</li>
            <hr style='position:absolute; top:13%; width:90%; left:2%'>
            <li style="font-family: Somar,sans-serif; position:absolute; top: 17%; color: black">Contáctanos</li>
            <hr style='position:absolute; top:20%; width:90%; left:2%'>
            <li style="font-family: Somar,sans-serif; position:absolute; top: 24%; color: black">Buscar</li>
            <hr style='position:absolute; top:27%; width:90%; left:2%'>
        </ul>


        <footer th:fragment="footer" style="background-color: white; position:absolute; height: 15%; bottom: 0%; width: 100%">
            <hr/>
            <a style="font-size: 12px; position:absolute; left:40%; bottom:45%; color: black">Términos y Condiciones</a>
            <a style="font-size: 12px; position:absolute; left:56%; bottom:45%; color: black">Política de Privacidad</a>
            <a style="font-size: 12px; position:absolute; left:47%; bottom:0%; color: black">&COPY; Derechos Reservados 2022</a>
        </footer>
    </body>
</html>
